.btn {
    transition: 200ms;
    font-family: 'Nunito Sans', Sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    font-style: normal;
    line-height: 25px;
    letter-spacing: 0.8px;
    background: $bg-button;
    color: #eeeeee;
    border: none;
    border-bottom: $border-cl-btn solid 5px;
    padding: 15px 20px;
    min-width: 130px;
    &:hover {
        background: $border-cl-btn;
        border-color: $bg-button;
    }
}
