$bg_button:#ec44f7;
$border_cl_btn:#C338CC;
$bg_input: #222831;
$input_text: #EEEEEECC;
$border_cl:#EEEEEE21;
$body_bg:#191D23;
$global_color_primary: #EEEEEE;
$global_color_text: #EEEEEECC;
$base_font_size: 18px;
$font_audiowide: "Audiowide", Sans-serif;
$font_nunitosans:"Nunito Sans", Sans-serif;
$spacer: 1rem;
