$bg_button: #ec44f7;
$border_cl_btn: #c338cc;
$bg_input: #222831;
$input_text: #eeeeeecc;
$border_cl: #eeeeee21;
$body_bg: #191d23;
$global_color_text: #eeeeeecc;
$base_font_size: 18px;
$font_audiowide: "Audiowide", Sans-serif;
$font_nunitosans: "Nunito Sans", Sans-serif;
$spacer: 1rem;
$color-primary: #eeeeee;
$color-secondary: #ec44f7;
$color-text: #eeeeeecc;
$color-accent: #ec44f7;
